<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-101729152-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-101729152-2');
</script>
<meta charset="utf-8">
<title>Sage</title>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
<meta content="" name="description">
<meta content="Matt Moderwell" name="author">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#000">
<!--Fav-->
<link href="/img/favicon.ico" rel="shortcut icon">
<!--Fonts-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
<link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
<!--Styles-->
<link rel="stylesheet" type="text/css" href="/css/milligram.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<meta content="A web app designed to tell you the important things coming up in your day." name="description">
<meta name="keywords" content="Matt,Moderwell,design,work,available,HTML,CSS,JavaScript,Matt Moderwell,mmoderwell,freelance,web,developer,Chicago,chicago,branding,website,development,Node,nodejs,NodeJS,hardware,software,projects,sage,github,code,northwestern,Northwesern,university,Northwestern Univerity,student,Matt Moderwell,web developer,web development,Northwestern University,NU,freelance web, freelance web development, mmoderwell.com">