<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
    <div id="wrapper">

        <!--Slide in Sidebar-->
        <div id="sidebar-wrapper">
            <nav class="sidebar-nav"> 
                <li>
                    <h5>Settings</h5>
                </li>
                <ul>
                <li><a href="/profile" id="">Profile</a></li>
                <li><a href="/logout" id="">Logout</a></li>
                <li><a id="night_mode">Night Mode</a></li>
                </ul>
            </nav>
        </div>
        <!--End of Sidebar-->

        <!--Main Content Wrapper-->
        <div id="page-wrapper">
            <section class="container">
                <div class="row">
                    <div class="column">
                        <div id="sidebar-opener">
                            <a id="sidebar-button">Settings</a>
                        </div>
                    </div>
                </div>

                <!--Header-->
                <% include ./partials/header %>

                    <!--Main Content-->
                    <div class="row">
                        <div class="column">
                            <!-- <p>Showing you the important things so that you can make the most of your day.</p> -->
                        </div>
                    </div>
                    <br>
                    <div id="intro_grid">
                        <p id="greeting_box"><span id="greeting"></span>,
                            <%= user.fname %>
                        </p>
                        <div id="weather_box">
       <!--                      <% if(user.city){ %>
                                        <p>Currently in
                                            <%= user.city %>,
                                        </p>
                                        <% } else{ %>
                                            <p>Currently in unknown location</p>
                                            <% } %> -->
                                <img src="" alt="" id="weather_icon">
                                <p class="loading" id="weather">Loading today's weather<span>.</span><span>.</span><span>.</span></p>
                        </div>
                    </div>

                    <br>
                    <br>

                    <div id="time_box">
                        <p class="date"></p>
                        <p class="time loading">00:00:00<span>.</span><span>.</span><span>.</span></p>
                    </div>
                    <!-- <div class="row">
    <div class="column column-66">
        <div class="img_box">
            <img class="img_content" id="random_pic" src="" alt="">
        </div>
    </div>
    <div class="column">
        <div class="box caption">
            <p class="content" id="caption"></p>
        </div>
    </div>
</div> -->
                    <!--End of Main Content-->

            </section>
            <br>
            <br>
            <br>
        </div>
    </div>
    <script src="/js/settings.js" type="text/javascript"></script>
    <script src="/js/slider.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>