/*------------------General Styles------------------*/

.top_button {
	padding-top: 3%;
}
.edit_button {
	cursor: pointer;
	color: #606c76;
}
ul {
	list-style: none;
}
li {
	text-indent: -40px;
}
.zip_edit, .name_edit, .email_edit, .username_edit {
	display: none;
}
#name, #username, #email, #zip, #city, #coordinates {
	color: #566b95;
}

/*------------------Edit Input Styles------------------*/

.form-group {
	position: relative;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.info_row p {}